@using Globalization.Resources.Services
@{
    ViewBag.Title = Errors.NotFoundTitle;
}


<h2 class="alt">@Errors.NotFound</h2>
<div class="clear">
</div>
<div>
    <img src="@Links.Content.Images.s_gif" alt="" />
</div>
<div class="column">
    <p>@Errors.CheckAddress</p>
</div>
