@using Data.ViewModels.Account
@using Globalization.Resources.Services
@{
    ViewBag.Title = Errors.NoRightsTitle;
}
<h2 class="alt">
    @Errors.NoRights</h2>
<div class="clear">
</div>
<div>
    <img src="@Links.Content.Images.s_gif" alt="" />
</div>
<div>
    <p>
        @Errors.PageNotPublic</p>
    @if (!ViewBag.IsAuthenticated)
    {
        @Html.Action(MVC.Account.LoginPartial(Request.RawUrl))
    }
</div>
