@using Globalization.Resources.About
@{
    ViewBag.Title = Resource.ValuesTitle;
}

<h2 class="heading">@Resource.AboutProject</h2>
<div style="height:15px;"></div>
@Html.Partial(MVC.About.Views.Menu, 3)
<div class="uitabContainer">
    <p style="padding:15px 0 2px; font-weight: bold;">
        Mes tikime, kad:
    </p>
    <ul>
        <li>
            Gera daryti gera;
        </li>
        <li>
            Tu esi gabus, sumanus, aktyvus žmogus
        </li>
        <li>
            Bendras tikslas yra svarbiau už pavienius tikslus;
        </li>
        <li>
            Aistra, tikėjimu ir ryžtu nudirbami didžiausi darbai;
        </li>
        <li>
            Pozityvus mąstymas - tiesiausias kelias į sėkmę.
        </li>
    </ul>
    <p style="font-weight: bold;">
        Mes svajojame, kad:
    </p>
    <ul>
        <li>
            Visi Lietuvos piliečiai - tai darni komanda, aktyviai siekianti bendrų tikslų; 
        </li>
        <li>
            Tai bendruomenė, gebanti konstruktyviose diskusijose rasti sprendimus, geriausiai tenkinančius bendrus poreikius.
        </li>
    </ul>
    <p><b>Mūsų misija:</b></p>
    <ul>
        <li>
             Tapti komunikacijos tiltu, jungiančiu piliečius su jų atstovais valdžioje
        </li>
    </ul>
    <p style="font-weight: bold;">Mūsų tikslai:</p>
    <ul>
        <li>
            Sukurti sąlygas, kad kiekvienas Lietuvos pilietis galėtų minimaliomis pastangomis maksimaliai įsitraukti į valstybės gyvenimą.
        </li>
        <li>
            Brandi, stipri, solidari ir aktyvi Lietuvos pilietinė visuomenė
        </li>
        <li>
            Skatinti šiuolaikinių demokratijos procesų plėtrą elektroninėje erdvėje
        </li>
        <li>
            Suteikti aktyviems piliečiams patogią aplinką savo pilietinei iniciatyvai ir valios pareiškimui
        </li>
        <li>
            Prisidėti įgyvendinant geriausius sistemoje iškeltus pasiūlymus
        </li>
    </ul>
</div>
