@using Globalization.Resources.About
@{
    ViewBag.Title = Resource.VideoTitle;
}

<h2 class="heading">@Resource.AboutProject</h2>
<div style="height:15px;"></div>
@Html.Partial(MVC.About.Views.Menu, 4)
<div class="uitabContainer">
    <p style="padding:15px 0 2px;">
        Įvadas į Lietuva 2.0 - kaip susidraugauti su sistema?
    </p>
    <div>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/CMrNC_bUGGc?rel=0&vq=large" title="Įvadas į Lietuva 2.0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>
        Lietuva 2.0 - nuolatos kintanti erdvė, todėl atrodytų neseniai daryti žemiau esantys filmukai jau rodo gerokai kitokį, nei esamas, vaizdą. Todėl norėdami pamatyti, kaip viskas vyksta
        šiuo metu, būtinai prisijunkite ir viską išbandykite patys!
    </p>
    <p style="padding:0px 0 2px;">
        Kaip tampama visaverčiu Lietuva 2.0 bendruomenės nariu, susipažinkite peržiūrėdami šį filmuką:
    </p>
    <div>
        <iframe width="480" height="390" src="https://www.youtube.com/embed/uaSERe_stVM" title="Lietuva 2.0 - prisijungimas" frameborder="0" allowfullscreen></iframe>
    </div>
    <p style="padding:15px 0 2px;">
        Sumanymai – tai vieta pasireikšti Jūsų fantazijai! Ši sritis kurta siekiant sudaryti sąlygas iš kelių problemos sprendimo arba galimybės realizavimo būdų išrinkti geriausią. Tai erdvė įvairiausioms nuomonėms, kūrybiškumui, bendradarbiavimui ir sumanymų gryninimui.
    </p>
    <div>
        <iframe width="480" height="390" src="https://www.youtube.com/embed/_DBlWeKwri8" title="Lietuva 2.0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p style="padding:15px 0 2px;">
        Susipažinkite, kaip galima įgyvendinti sumanymus, naudojantis Lietuva 2.0 projektų valdymo įrankiais:
    </p>
    <div>
        <iframe width="480" height="390" src="https://www.youtube.com/embed/6sO4VlqOooI" title="Lietuva 2.0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p style="padding:15px 0 2px;">
        Balsavimai – tai e-referendumo užuomazgos, sritis, skirta surinkti visuomenės nuomonę apie konkrečius valdžios priimamus sprendimus. Susipažinkite, kaip galite daryti įtaką valdžios sprendimams, peržiūrėdami šį filmuką:
    </p>
    <div>
        <iframe width="480" height="390" src="https://www.youtube.com/embed/1F0j8Lq95YI" title="Lietuva 2.0 - prisijungimas" frameborder="0" allowfullscreen></iframe>
    </div>
    <p style="padding:15px 0 2px;">
        Susipažinkite, kaip galima panaudoti Lietuva 2.0 galimybes organizacijos vidinei veiklai organizuoti, peržiūrėdami šį filmuką:
    </p>
    <div>
        <iframe width="480" height="390" src="https://www.youtube.com/embed/In6Sp5Sj400" title="Lietuva 2.0 - prisijungimas" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
