<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MongoServer" connectionString="mongodb://localhost/lietuva" />
    <add name="MongoDB" connectionString="lietuva" />
    <add name="Data.Properties.Settings.LT2_ReportingConnectionString" connectionString="Data Source=.;Initial Catalog=LT2_Reporting;Persist Security Info=True;User ID=net_user;Password=netuser" providerName="System.Data.SqlClient" />
    <add name="ActionsEntities" connectionString="metadata=res://*/EF.Actions.Actions.csdl|res://*/EF.Actions.Actions.ssdl|res://*/EF.Actions.Actions.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.;Initial Catalog=LT2_Actions;Persist Security Info=True;User ID=net_user;Password=netuser;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="VotingEntities" connectionString="metadata=res://*/EF.Voting.Voting.csdl|res://*/EF.Voting.Voting.ssdl|res://*/EF.Voting.Voting.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.;Initial Catalog=LT2_Voting;Persist Security Info=True;User ID=net_user;Password=netuser;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="UsersEntities" connectionString="metadata=res://*/EF.Users.Users.csdl|res://*/EF.Users.Users.ssdl|res://*/EF.Users.Users.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.;Initial Catalog=LT2_Users;User ID=net_user;Password=netuser;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="mail@lietuva2.net">
        <network host="peak.bluebridge.local" port="25" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ReplyTo" value="mail@lietuva2.net" />
    <add key="SearchIndexFolder" value="C:\Work\Lietuva2\Source\LuceneSearchIndex" />
    <add key="EndpointName" value="Bus.CommandHandler" />
  </appSettings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="DPErrors" />
  <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="1" />
  <startup>
    <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>