@{
    ViewBag.Title = "Mokėjimas nepavyko!";
}
@section Scripts
{
    <script type='text/javascript'>
        function onPageLoad() {
            }
    </script>
}
<h2 class="heading">Mokėjimas neįvykdytas</h2>
<div>
    <p>Bandykite dar kartą.</p>
    @Html.ActionLink("Atgal", MVC.Sponsor.Index())
</div>