@using Globalization.Resources.About
<div style="margin-bottom: 8px;">@Resource.TutorialMessage</div>
<iframe id="tutorialFrame" width="640" height="480" src="https://www.youtube.com/embed/CMrNC_bUGGc?rel=0&vq=large" frameborder="0" allowfullscreen></iframe>