<h2 class="heading">Lithuania 2.0 manifesto</h2>
<p style="font-weight: bold;">
I, @ViewBag.CurrentUser.FullName, by signing this manifesto, hereby agree, that:
</p>
<p>
    We, the citizens of Lithuania, can do great things by working together. I believe that by allocating some of my valuable time I can contribute to a common goal - Lithuania, wich is a good place to live. Therefore, the progress can be achieved through the efforts of the growing Lithuania 2.0 community.
     I believe that all Lithuanian citizens can be a cohesive team, orderly reaching common goals. Through the use of my best qualities, I will help others to grow and unfold. In this way, we will achieve that the government served the citizens of Lithuania, and represented an explicit public interest.
     By our efforts Lithuania will flourish, and the neighbors by participating in constructive discussion will always find the most satisfactory compromise for the common needs.
     My aim is to create a Lithuania such, as I want her to beeand leave to my children.
</p>
<p>
    <b>Thereby I plight my word to create, smile and be proud of my country!</b>
</p>    
<p>
    By signing here I agree with Lithuania 2.0 <a id="linkAgreement" target="_blank" href="https://docs.google.com/a/lietuva2.lt/document/d/1jJC5saB9x7T9JCkpJlBnHhGkOXP_gse0eMUsPCo9WJU/edit">user agreement</a> and <a id="linkPrivacy" href="https://docs.google.com/a/lietuva2.lt/document/d/18uU0q1DkHvE1TOK5UABZt8HasR5m3BXPOthHpaEWe8A/edit#" target="_blank">privacy policy</a>.
</p>