<h2 class="heading">Lietuva 2.0 manifestas</h2>
<p style="font-weight: bold;">
Aš, @ViewBag.CurrentUser.FullName, pasirašydama(s) šį manifestą, sutinku, jog:
</p>
<p>
    Mes, sąmoningi Lietuvos piliečiai bei čia gyvenantys užsieniečiai, dirbdami kartu galime padaryti didelius darbus. Tikiu, kad skirdama(s) dalį savo brangaus laiko galiu prisidėti prie bendro tikslo - Lietuvos, kurioje gera gyventi visiems. Todėl, tikėdama(s) augančia Lietuva 2.0 bendruomene, teigiu, jog pažangą galime pasiekti savo pačių pastangomis.
    Tikiu, jog visi Lietuvos piliečiai gali būti darni komanda, organizuotai siekianti bendrų tikslų. Panaudodama(s) geriausias savo savybes, savo veiksmais padėsiu augti ir atsiskleisti kitiems. Tokiu būdu visi kartu pasieksime, kad Lietuvoje valdžia tarnautų piliečiams, ir atstovautų aiškiai išreikštą visuomenės interesą. 
    Mūsų pastangomis Lietuvoje suklestės teisingumas, o kaimynai konstruktyvioje diskusijoje visada ras bendrus poreikius geriausiai tenkinantį kompromisą.
    Sieksiu kurti tokią Lietuvą, kokią noriu matyti ir palikti savo vaikams. 
</p>
<p>
    <b>Todėl pasižadu kurti, svajoti, šypsotis, gerbti kitus ir mylėti savo Valstybę!</b>
</p>    
<p>
    Tvirtinu, kad sutinku su Lietuva 2.0 <a id="linkAgreement" target="_blank" href="javascript:void(0);">naudojimo taisyklėmis</a> ir <a id="linkPrivacy" href="javascript:void(0);" target="_blank">privatumo politika</a>.
</p>
<div id="dialog-agreement" title="Lietuva 2.0 naudojimo taisyklės" class="hide">
    <p style="text-align:center"><strong>Lietuva 2.0 naudojimo taisyklės</strong></p>

<p><span style="line-height:1.6em">Naudojimo taisyklės atnaujintos 2012-12-03.</span></p>

<p><span style="line-height:1.6em">Registruodamiesi interneto svetainėje</span><a href="http://www.lietuva2.lt/" style="line-height: 1.6em;"> </a><a href="http://www.lietuva2.lt/" style="line-height: 1.6em;">www.lietuva2.lt</a><span style="line-height:1.6em"> Jūs patvirtinate, kad esate susipažinęs su &scaron;ios naudotojo sutarties sąlygomis ir taisyklėmis (toliau &ndash; Taisyklės), sutinkate su Taisyklėmis ir įsipareigojate jų laikytis.</span></p>

<p>&nbsp;</p>

<p><strong>1. &nbsp;Taisyklių taikymas ir ai&scaron;kinimas</strong></p>

<p>1.1. Taisyklės reguliuoja teisinius santykius tarp visų registruotų interneto svetainės<a href="http://www.www.lietuva2.lt/"> </a><a href="http://www.lietuva2.lt/">http://www.lietuva2.lt</a> (toliau &ndash; Svetainė) naudotojų (toliau &ndash; Naudotojas) ir Svetainės valdytojo V&scaron;Į LT2.0, kylančius Naudotojui naudojantis Svetainėje pateikiamomis paslaugomis.</p>

<p>1.2. Kontaktinė V&scaron;Į LT2.0 informacija pateikta Svetainėje.</p>

<p>1.3. Be &scaron;ių Taisyklių, santykiams tarp Naudotojo ir V&scaron;Į &ldquo;LT2.0 reguliuoti taikomos Lietuvos Respublikos teisės aktų nuostatos, specialios sąlygos ir taisyklės, pateikiamos Svetainėje bei nusistovėjusi gera elgesio praktika.</p>

<p>1.4. Jeigu kuri nors &scaron;ių Taisyklių nuostata prie&scaron;tarauja įstatymams arba dėl kokios nors kitos priežasties tampa dalinai arba visai negaliojančia, ji nedaro negaliojančiomis likusių Taisyklių nuostatų.</p>

<p>&nbsp;</p>

<p><strong>2. Bendrosios sąlygos</strong></p>

<p>V&scaron;Į LT2.0 suteikia Naudotojams virtualią erdvę, t.y. Svetainę, kurioje Naudotojai turi galimybę pasisakyti jiems aktualiais klausimais, teikti, komentuoti, ir palaikyti pasiūlymus, balsuoti jiems aktualiais klausimais, registruoti organizacijas, vykdyti jų veiklą ir kt.</p>

<p>2.1. Laikoma, kad Naudotojai veikia savaranki&scaron;kai ir nedalyvaujant bei netarpininkaujant V&scaron;Į LT2.0. Naudotojai patys yra atsakingi už savo veiksmus Svetainėje.</p>

<p>2.2. V&scaron;Į LT2.0 nėra atsakinga už Naudotojų Svetainėje publikuojamą informaciją bei jos tematiką.</p>

<p>2.3.V&scaron;Į LT2.0 nėra atsakinga už Naudotojų kuriamo Svetainės turinio kokybę.</p>

<p>2.4. V&scaron;Į LT2.0 nėra atsakinga už informacijos, kurią Naudotojai pateikia Svetainėje, teisingumą, i&scaron;samumą ir/ar atitikimą teisės aktų reikalavimams.</p>

<p>2.5. V&scaron;Į LT2.0 nėra atsakinga už netinkamą ir/ar neteisėtą Naudotojų elgesį.</p>

<p>2.6. V&scaron;Į LT2.0 nėra atsakinga už jokią materialinę ir nematerialinę žalą, kurią gali patirti fiziniai ar juridiniai asmenys ir kuri galėjo tiesiogiai ar netiesiogiai atsirasti kaip Svetainėje pateiktos informacijos padarinys.</p>

<p>2.7. Visa atsakomybė už Svetainėje pateiktos informacijos teisingumą ir atitikimą Lietuvos Respublikos teisės aktams tenka informaciją pateikusiam Naudotojui.</p>

<p>2.8. V&scaron;Į LT2.0 jokiu būdu nedalyvaus pateikto turinio korekcijoje, nebent prie&scaron;taraujant trečiosioms &scaron;alims, derybų būdų būtų reikalaujama spręsti i&scaron;kilusį klausimą. V&scaron;Į LT2.0 nebus Naudotojo agentu, atstovu, tarpininku ir kt.</p>

<p>2.9. V&scaron;Į LT2.0 neatsako už autorinių teisių pažeidimą Naudotojams įkeliant informaciją skirtą reklamuoti ir vie&scaron;inti savo prekes ir/ar paslaugas.</p>

<p>2.10. Visi prane&scaron;imai ir informacija tarp Naudotojo ir V&scaron;Į LT2.0 bus siunčiama elektroninėmis priemonėmis adresais, nurodytais &scaron;iose Taisyklėse arba Svetainėje, nebent &scaron;iose taisyklėse nurodyta kitaip.</p>

<p>2.11. Autorių teisės į Svetainę priklauso V&scaron;Į LT2.0 arba V&scaron;Į LT2.0 teisėtai naudojasi trečiųjų asmenų suteiktomis teisėmis.</p>

<p>2.12. Naudodamasis Svetaine ir teikdamas, įvesdamas ar kitaip siųsdamas bet kokią informaciją ar duomenis į Svetainę Naudotojas neatlygintinai, neribotam laikui ir neribotoje teritorijoje perduoda V&scaron;Į LT2.0 teises į tokią informacija ir/ar duomenis, i&scaron;skyrus žemiau i&scaron;vardintus atvejus.</p>

<p>2.13. Bendra Naudotojo informacija (profilis, nustatymai, kontaktinė informacija, tapatybės informacija, asmeninės žinutės) saugoma tris mėnesius po paskyros panaikinimo arba 18 mėnesių nuo paskutinio prisijungimo prie Svetainės, negavus pra&scaron;ymo panaikinti paskyrą.</p>

<p>&nbsp;</p>

<p><strong>3. Naudotojo teisės ir pareigos</strong></p>

<p>3.1. Naudotojas įsipareigoja:</p>

<p>3.1.1. &nbsp;registruodamasis Svetainėje pateikti teisingą informaciją apie save, įskaitant tikrą savo vardą bei pavardę ir el. pa&scaron;to adresą;</p>

<p>3.1.2. &nbsp;svetainėje registruotis tik vieną kartą, nekurti daugiau nei vienos registracijos anketos;</p>

<p>3.1.3. &nbsp;nenaudoti Svetainės neteisėtiems veiksmams;</p>

<p>3.1.4. &nbsp;naudodamasis Svetaine pateikti objektyvią, teisingą, ne&scaron;ali&scaron;ką, visapusi&scaron;ką ir i&scaron;samią informaciją;</p>

<p>3.1.5. užtikrinti, kad naudojantis Svetaine Naudotojo pateikiama informacija ir duomenys, įskaitant, elektroninius duomenis, t.y. failus, el.pa&scaron;to lai&scaron;kus ir kt. (toliau &ndash; Naudotojo informacija):</p>

<p>3.1.5.1. &nbsp;nėra klaidinanti ar neteisinga;</p>

<p>3.1.5.2. &nbsp;nenaudoja, neturint autorinių ar kitų teisių informacijai platinti, vie&scaron;inti ir skelbti;</p>

<p>3.1.5.3. &nbsp;nenaudoja nuotraukų ar kitos vizualinės medžiagos, kuriose yra matomi kiti nei Naudotojas asmenys, negavus tokių asmenų sutikimo tokios medžiagos publikavimui;</p>

<p>3.1.5.4. &nbsp;nepažeidžia trečiųjų asmenų turtinių ar asmeninių teisių, įskaitant teises į intelektinę nuosavybę, i&scaron;skyrus tuos atvejus, kai tekste yra pateikiama informacija nurodanti pirminį &scaron;altinį ir idėjos autorių. Publikuoti galima tik esant abi&scaron;aliam susitarimui tarp idėjos autoriaus ir publikuotojo;</p>

<p>3.1.5.5. &nbsp;negali prie&scaron;tarauti visuotinai pripažintoms etikos ar moralės normoms ir/ar galiojantiems Lietuvos Respublikos teisės aktams, neturi kurstyti diskriminacijos ar nesantaikos bet kokiu pagrindu savo turiniu, forma, vizualia kompozicija;</p>

<p>3.1.5.6. &nbsp;draudžiami naudoti beprasmiai simboliai siekiant tekstą pateikti ry&scaron;kiau ir taip atkreipti naudotojų dėmesį. Įra&scaron;o antra&scaron;tė turi būti ai&scaron;ki ir trumpa, jos tikslas apibūdinti įra&scaron;o esmę;</p>

<p>3.1.5.7. &nbsp;nepažeidžia teisės aktų reikalavimų;</p>

<p>3.1.5.8. &nbsp;neturi savyje virusų ar kitokių kompiuterių programų ar failų, kurie gali sutrikdyti normalų Svetainės veikimą, būti patalpinti Naudotojų kompiuteriuose ir dėl to padaryti žalą Naudotojui ar jo turtui, trukdyti Naudotojui naudotis Svetaine, Paslaugomis ir Naudotojo kompiuteriu;</p>

<p>3.1.5.9. &nbsp;nesiūlo įsigyti prekių ir/ar paslaugų kartu su nuorodomis į kitas internetines svetaines;</p>

<p>3.1.6. Nerinkti, nekaupti, neperkelti į kitas laikmenas, nepadaryti vie&scaron;ai prieinamais, neskelbti bei neplatinti Svetainės naudotojų duomenų ar duomenų apie bet kokius Svetainės naudotojų veiksmus kitomis nei Svetainės teikiamomis priemonėmis be atskiro V&scaron;Į LT2.0 sutikimo;</p>

<p>3.1.7. &nbsp;Nereik&scaron;ti reikalavimų V&scaron;Į LT2.0, i&scaron;skyrus reikalavimus, tiesiogiai kylančius i&scaron; &scaron;ių Taisyklių;</p>

<p>3.1.8. Saugoti Naudotojo prisijungimo vardą ir slaptažodį tokiu būdu, kad jo nesužinotų tretieji asmenys;</p>

<p>3.1.9. &nbsp;Nedelsdamas pasikeisti slaptažodį, kuris reikalingas naudotis Svetaine, jei jis tapo žinomas tretiesiems asmenims.</p>

<p>3.2. &nbsp;Naudodamasis svetaine Naudotojas patvirtina, kad jis/ji:</p>

<p>3.2.1. yra veiksnus fizinis asmuo, turintis balsavimo teisę bei kitus įgaliojimus ir teises vykdyti veiklą, siūlomą Svetainėje;</p>

<p>3.2.2. &nbsp;tinkamai vykdys savo pareigas, nurodytas Taisyklių 3.1 punktuose;</p>

<p>3.2.3. supranta, kad svetainės turinį Naudotojai kuria nedalyvaujant bei netarpininkaujant V&scaron;Į LT2.0 ir Naudotojai patys yra atsakingi už pateiktą turinį;</p>

<p>3.2.4. &nbsp;supranta, kad pasisiūlęs įgyvendinti sumanymą Naudotojas turi imtis visų reikiamų veiksmų siekiant sėkmingo projekto įgyvendinimo;</p>

<p>3.2.5. &nbsp;supranta, kad Naudotojui sutikus su &scaron;iomis Taisyklėmis tarp Naudotojo ir V&scaron;Į LT2.0 sukuriami tik tokie teisiniai santykiai, kuriuos tiesiogiai ir ai&scaron;kiai numato &scaron;ios Taisyklės;</p>

<p>3.2.6. &nbsp;supranta ir sutinka, kad tuo atveju jei naudotojo vardas ir slaptažodis, kurie reikalingi norint naudotis Svetaine, taps žinomi tretiesiems asmenims, tokie tretieji asmenys gali prisiimti įsipareigojimus, kurie taps privalomais Naudotojui ir įsipareigoja tokius įsipareigojimus prisiimti ir tinkamai vykdyti, o V&scaron;Į LT2.0 neturi pareigos jokiu kitu būdu, i&scaron;skyrus naudotojo vardo ir slaptažodžio patikrinimą, tikrinti naudotojo tapatybės;</p>

<p>3.2.7. supranta ir sutinka, kad V&scaron;Į LT2.0 tvarkytų ir valdytų Naudotojo asmens duomenis vadovaudamasi Lietuvos Respublikos teisės aktais bei Taisyklių 5 punktu;</p>

<p>3.2.8 supranta ir sutinka, kad visi Svetainėje talpinami Naudotojo asmens duomenys, i&scaron;skyrus asmens kodą ir el. pa&scaron;to adresą, yra vie&scaron;i ir prieinami trečioms &scaron;alims;</p>

<p>3.2.8 supranta ir sutinka, kad Naudotojo pateiktu el. pa&scaron;to adresu su juo, naudodamas Svetainės priemones, galės susisiekti bet kuris kitas Naudotojas;</p>

<p>3.2.9 sutinka Naudotojo pateiktu el. pa&scaron;to adresu gauti kitą tiesiogiai su jo veikla susijusią informaciją, įskaitant, bet neapsiribojant prane&scaron;imus apie naujai sukurtus jį dominančių sričių įra&scaron;us, jam priskirtas projektų užduotis bei kitą su naudotojo vykdomų projektų, organizacijų, kurių narys jis yra, veikla susijusią informaciją. Supranta, kad &scaron;ių lai&scaron;kų gali atsisakyti savo asmeniniame puslapyje;</p>

<p>3.2.10 sutinka ir supranta, kad Naudotojui atsisakius jo nurodytu el. pa&scaron;to adresu gauti automatiniu būdu siunčiamas žinutes, V&scaron;Į LT2.0 pasilieka teisę ypatingais atvejais &scaron;iuo adresu siųsti neautomatines žinutes. Naudotojo pateiktas el. pa&scaron;to adresas pa&scaron;alinamas i&scaron; duomenų bazės tik pa&scaron;alinus visą Naudotojo paskyrą.</p>

<p>3.3. Greta patvirtinimų, pateiktų taisyklių 3.2 punktuose, Naudotojai, kurie yra fiziniai asmenys ir kuriems nėra 18 metų patvirtina, kad:</p>

<p>3.3.1. gerai suvokia visas Taisyklių nuostatas ir supranta, kad Svetainės naudojimas gali sukelti teisinę atsakomybę už Svetainėje pateiktą informaciją.</p>

<p>3.4 Naudotojas turi teisę:</p>

<p>3.4.1 Kilus įtarimų, kad jo balsavimų duomenys buvo pakeisti, prane&scaron;ti apie savo įtarimus V&scaron;Į LT2.0, kuri įsipareigoja imtis visų reikiamų priemonių, tokių kaip prisijungimų prie duomenų bazės peržiūra, duomenų keitimo istorijos peržiūra ir kt., situacijai i&scaron;tirti;</p>

<p>3.4.2 Atsisakyti Naudotojo nurodytu adresu gauti automatiniu būdu siunčiamus el. lai&scaron;kus;</p>

<p>3.4.3 Teikti pastabas apie savo patirtį naudojantis Svetaine, prane&scaron;ti apie pastebėtas klaidas, siūlyti pakeitimus ir kitaip prisidėti prie sistemos tobulinimo;</p>

<p>3.4.4 Teikti ra&scaron;ti&scaron;ką arba elektroninį pra&scaron;ymą panaikinti Naudotojo paskyrą ir visus jo asmens duomenis;</p>

<p>3.4.5 Savo nuožiūra valdyti, pateikti, redaguoti ir &scaron;alinti vie&scaron;ai prieinamus asmens duomenis.</p>

<p>&nbsp;</p>

<p><strong>4. V&scaron;Į LT2.0 Teisės ir pareigos</strong></p>

<p>4.1. V&scaron;Į LT2.0 turi teisę savo nuožiūra apriboti arba nutraukti Naudotojo teisę ar galimybę naudotis Svetaine, įskaitant bet kokios informacijos, kurią Naudotojas pateikė į svetainę pakeitimu, Naudotojo paskyros (angl. account) panaikinimu ir uždraudimu Naudotojui i&scaron; naujo užsiregistruoti Svetainėje, jei Naudotojas:</p>

<p>4.1.1. &nbsp;pažeidžia &scaron;ias Taisykles ar nesilaiko savo įsipareigojimų, numatytų &scaron;iose Taisyklėse;</p>

<p>4.1.2. &nbsp;pateikė neteisingą, nepilną ir/ar klaidinančią informaciją registruodamasis ar naudodamasis Svetaine;</p>

<p>4.1.3. &nbsp;tyčia ir sąmoningai skleidžia apgaulingą ar neteisingą informaciją Svetainėje, įžeidinėja kitus asmenis ar kitaip netinkamai elgiasi.</p>

<p>4.2. V&scaron;Į LT2.0 turi teisę (bet ne pareigą) bet kada stebėti Naudotojo veiksmus Svetainėje. Naudodama teisėtas priemones V&scaron;Į LT2.0 turi teisę tirti bet kokius Taisyklių pažeidimus.</p>

<p>4.3. V&scaron;Į LT2.0 turi teisę bet kada savo nuožiūra pa&scaron;alinti i&scaron; Svetainės Naudotojo pateiktus sumanymus ar bet kokią kitą Naudotojo informaciją jei, V&scaron;Į LT2.0 nuomone, jie pažeidžia &scaron;ias Taisykles, taikomus teisės aktus arba yra prie&scaron;ingi visuotinai pripažintoms etikos ir moralės normoms.</p>

<p>4.4. V&scaron;Į LT2.0 turi teisę bet kada Svetainės ribose savo nuožiūra pertvarkyti naudotojo pateiktą informaciją, nekeisdama Naudotojo informacijos, tam, kad Svetaine būtų patogiau naudotis.</p>

<p>4.5. V&scaron;Į&nbsp;&nbsp; &nbsp;LT2.0 turi teisę savo nuožiūra panaikinti Naudotojo paskyrą (angl. account), jei Naudotojas yra gavęs ne mažiau nei tris neigiamus įspėjimus i&scaron; V&scaron;Į LT2.0.</p>

<p>4.6. V&scaron;Į LT2.0 turi teisę gauti užmokestį už suteikiamas Paslaugas. Gavus užmokestį, V&scaron;Į LT2.0 pagal pareikalavimą pateiks Naudotojui elektroninę ataskaitą. Naudotojas sutinka, kad ataskaita būtų pateikta elektroniniu būdu.</p>

<p>4.7. V&scaron;Į LT2.0 turi teisę viena&scaron;ali&scaron;kai nutraukti Interneto svetainės veiklą.</p>

<p>4.8. V&scaron;Į LT2.0 įsipareigoja nesiųsti Naudotojui automatinių el. lai&scaron;kų, jeigu Naudotojas prie savo kontaktinės informacijos yra pažymėjęs, kad nepageidauja jų gauti.</p>

<p>4.9 Gavus pra&scaron;ymą pa&scaron;alinti Naudotojo paskyrą, V&scaron;Į LT2.0 įsipareigoja pa&scaron;alinti ją ir visus Naudotojo asmens duomenis pasibaigus paskutiniam balsavimui, dėl kurio Naudotojas yra parei&scaron;kęs savo nuomonę, bet ne vėliau kaip už 3 mėnesių nuo pra&scaron;ymo gavimo.</p>

<p>4.10 V&scaron;Į LT2.0 įsipareigoja neatskleisti naudotojo asmens kodo, trečioms &scaron;alims, i&scaron;skyrus atsakingas valdžios institucijas, kurioms yra teikiami balsavimų, kuriuose dalyvavo Naudotojas, rezultatai, bei kitais Lietuvos Respublikos įstatymų numatytais atvejais;</p>

<p>4.11 V&scaron;Į LT2.0 įsipareigoja Naudotojo el. pa&scaron;to adresą naudoti tik su Svetainės veikla susijusiais tikslais ir neatskleisti jo trečioms &scaron;alims, i&scaron;skyrus kitus Naudotojus, Svetainės priemonėmis susisiekusius su Naudotoju.</p>

<p>&nbsp;</p>

<p><strong>5. Privatumo politika</strong></p>

<p>5.1. V&scaron;Į LT2.0 turi teisę tvarkyti ir valdyti registracijos metu ar vėliau naudojantis Svetaine Naudotojo (kuris yra fizinis asmuo) pateiktus asmens duomenis (toliau &ndash; Asmens duomenys), vadovaujantis &scaron;iose Taisyklėse ir Privatumo politikoje nustatyta tvarka ir jose nurodytais tikslais. Plačiau tvarkomi asmens duomenys, tvarkymo tikslai ir sąlygos apra&scaron;ytos dokumente &ldquo;Privatumo politika&rdquo;.</p>

<p>&nbsp;</p>

<p><strong>6. Taisyklių keitimas</strong></p>

<p>6.1. Siekiant užtikrinti patogesnį bei saugesnį naudojimąsi Svetaine, V&scaron;Į LT2.0 turi teisę viena&scaron;ali&scaron;kai pakeisti Taisykles.</p>

<p>6.2. V&scaron;Į LT2.0 prane&scaron; Naudotojui apie Taisyklių pakeitimus paskelbdama apie tai Svetainėje.</p>

<p>6.3. Taisyklių pakeitimai įsigalios nuo jų paskelbimo Svetainėje dienos.</p>

<p>6.4. Naudodamasis Svetaine po to, kai įsigalios Taisyklių pakeitimai, Naudotojas patvirtina, kad jis susipažino su tokiais pakeitimais ir visi&scaron;kai su jais sutinka.</p>

<p>&nbsp;</p>

<p><strong>7. Baigiamosios nuostatos</strong></p>

<p>7.1. Taisyklėms yra taikoma Lietuvos Respublikos teisė.</p>

<p>7.2. Visi tarp Administratoriaus ir Naudotojo kilę nesutarimai dėl &scaron;ių Taisyklių vykdymo yra sprendžiami derybų keliu. &Scaron;alims nei&scaron;sprendus ginčo derybų būdu toks ginčas galutinai sprendžiamas Lietuvos Respublikos įstatymų nustatyta tvarka teismuose pagal V&scaron;Į LT2.0 buveinės vietą.</p>

<p>7.3. Taisyklės įsigalios nuo to momento, kai Naudotojas patvirtins, kad sutinka su jomis ir galios visą santykių tarp Naudotojo ir V&scaron;Į LT2.0 laiką. Naudotojas turi teisę nutraukti teisinius santykius su V&scaron;Į LT2.0 bet kuriuo metu, tačiau tik įvykdęs visas savo pareigas pagal &scaron;ias Taisykles.</p>

<p>&nbsp;</p>


</div>





<div id="dialog-privacy" title="Lietuva 2.0 privatumo politika" class="hide">
    <p style="text-align:center"><strong>Privatumo politika</strong></p>

<p>Privatumo politikos nuostatos atnaujintos 2012-06-22.</p>

<p>1. Svetainės www.lietuva2.lt tvarkomų asmens duomenų valdytojas &mdash; V&scaron;Į LT2.0, juridinio asmens kodas 302692874 (toliau - LT2).</p>

<p>2. &Scaron;ios Privatumo politikos nuostatos galioja visiems svetainės naudotojų (toliau &mdash; Lankytojas), apsilankiusių www.lietuva2.lt internetinėje svetainėje (toliau &mdash; Svetainė), veiksmams, kuriuos jie gali atlikti Svetainėje, įskaitant (bet &nbsp;neapsiribojant) registravimąsi Svetainėje, sumanymų kūrimą, palaikymą, komentavimą, balsavimų apra&scaron;ymą, balsavimą, argumentavimą, pasisakymus, projektų valdymą, organizacijų registravimą ir jų veiklos vykdymą, bet kokio pobūdžio informacijos ir (ar) duomenų pateikimą bei gavimą (toliau &mdash; Paslaugos).</p>

<p>3. Naudodamasis Paslaugomis Lankytojas be i&scaron;lygų ir apribojimų sutinka su &scaron;ia Privatumo politika, kurioje nustatyti Lankytojo informacijos rinkimo tikslai ir būdai, jos saugojimo sąlygos ir pan. Jei Lankytojas nesutinka su &scaron;ia Privatumo politika, Lankytojas neturi teisės naudotis jokiomis Svetainės Paslaugomis.</p>

<p>4. Lankytojų pateikiamus asmeninius duomenis saugo ir administruoja LT2. Nei LT2, nei kokios nors trečiosios &scaron;alies sprendimu, i&scaron;skyrus Lietuvos Respublikos įstatymų numatytus atvejus, Lankytojų asmens duomenys negali būti perduoti trečiosioms &scaron;alims be atskiro ir ai&scaron;kaus Lankytojo sutikimo.</p>

<p>5. Kiekvienas Lankytojas turi teisę lankytis Svetainėje nesuteikdamas apie save jokios informacijos, tačiau, jeigu Lankytojas nori naudotis kai kuriomis Svetainės paslaugomis, LT2 pra&scaron;ys pateikti lankytojo asmens duomenis registruojantis, užpildant tapatybės patvirtinimo formą ar naudojantis kitomis Paslaugomis Svetainės sistemoje.</p>

<p>6. LT2 primygtinai pataria visiems tėvams ir globėjams mokyti savo vaikus saugaus ir atsakingo asmeninių duomenų disponavimo internete. Lankytojai, neturintys 18 metų, neturėtų perduoti savo asmeninės informacijos. LT2 niekada sąmoningai nerinks jokios asmeninės informacijos i&scaron; asmenų, kuriems yra mažiau nei 18 metų, ir neatskleis &scaron;ių duomenų trečiosioms &scaron;alims be Lankytojo sutikimo. Ry&scaron;ium su tuo, kas i&scaron;dėstyta anksčiau, LT2 mano, kad Svetainės Lankytojai yra ne jaunesni nei 18 metų. O radę Svetainės sistemoje prisiregistravusį 18 metų dar neturintį Lankytoją ar tokį asmenį, pateikusį melagingus duomenis, LT2 turi teisę i&scaron;kart tokį asmenį be jokio įspėjimo pa&scaron;alina i&scaron; Svetainės sistemos.</p>

<p>7. Siekdami svetainės Lankytojams suteikti auk&scaron;čiausios kokybės paslaugas, LT2 turi teisę savo nuožiūra, visapusi&scaron;kai ir bet kokiu, Lietuvos Respublikos teisės aktų neuždraustu, būdu naudotis visa sukaupta informacija apie Lankytoją.</p>

<p style="text-align:center"><strong>Lankytojų registracija</strong></p>

<p>8. Tam, kad Lankytojai efektyviai galėtų naudotis Svetainėje esančiomis paslaugomis ir gauti jas visas, reikia prisiregistruoti ir pateikti asmens duomenis. Svetainėje teikiantys savo kontaktinę informaciją Lankytojai suvokia, sutinka ir pageidauja, kad ją galėtų rasti ir su jais susisiekti kiti Svetainės Lankytojai ir (ar) LT2.</p>

<p>9. LT2 Lankytojų asmens duomenis, pateiktus Svetainės sistemoje, apdoroja rankiniu ir automatiniu būdais. Jei Lankytojas nesutinka, kad jo asmens duomenis tvarkytų LT2, Lankytojas turi teisę nesinaudoti Svetaine ir nepateikti savo asmens duomenų.</p>

<p>10. Be duomenų rinkimo per Svetainę, Lankytojas gali būti papra&scaron;ytas pateikti savo asmens duomenis bendraujant lai&scaron;kais ar telefonu su LT2, Tokiu atveju Lankytojas gali būti papra&scaron;ytas duoti savo sutikimą pateiktų asmens duomenų LT2 apdorojimui, jei tokio sutikimo reikalauja įstatymas ir Lankytojas nėra jo davęs.</p>

<p>11. Lankytojas privalo papildyti ir (ar) pakeisti savo kontaktinius duomenis Svetainėje, jiems pasikeitus.</p>

<p>12. Kai Lankytojas prisijungia prie Svetainės (kaip neužsiregistravęs Lankytojas), tam tikra neasmeninė informacija (naudojamos internetinės nar&scaron;yklės tipas, apsilankymų skaičius, peržiūrėti Svetainės puslapiai, laiko, praleisto Svetainėje, vidurkis) yra renkama automati&scaron;kai. &Scaron;i informacija yra naudojama tobulinant Svetainės turinį, funkcionalumą ir patrauklumą.</p>

<p style="text-align:center"><strong>Sutikimas</strong></p>

<p>13. Lankytojas registracijos metu gali pasirinkti, ar registracijos metu pateikti duomenys apie jį gali būti naudojami tiesioginės rinkodaros tikslais. Lankytojas apie savo sprendimą dėl sutikimo i&scaron;rei&scaron;kia registruodamasis ir pažymėdamas varnele sutikimo tekstą &bdquo;Sutinku gauti lai&scaron;kus&ldquo;. Norėdamas at&scaron;aukti (panaikinti) &scaron;į sutikimą, Lankytojas gali arba savo registracijos paskyroje, skiltyje &ldquo;Kontaktinė informacija&rdquo; prie sutikimo panaikinti varnelę, arba atsiųsti pra&scaron;ymą elektroninio pa&scaron;to adresu info@lietuva2.lt. Pra&scaron;yme būtina ai&scaron;kiai nurodyti savo vardą, pavardę, prisijungimo vardą ir kitus registracijos duomenis (jei yra).</p>

<p>14. Saugomi visi turimi Lankytojų asmens duomenys: vardas, pavardė, gimimo data, pilietybė, darbinė padėtis, i&scaron;silavinimas, &nbsp;darbo patirtis, bendras apra&scaron;ymas, specializacijos, visuomeninė veikla, pomėgiai, el. pa&scaron;tas, gyvenamoji vieta, gimtoji vieta, telefono numeris, nuotrauka, domėjimosi sritys, politinės pažiūros, narystė partijose, tautybė, religiniai įsitikinimai, filosofiniai įsitikinimai, narystė organizacijose; asmens kodas, asmens dokumento numeris, tikslus gyvenamosios vietos adresas (kai lankytojas yra identifikuotas unikaliai), ar bet kokie kiti duomenys, kuriuos Lankytojas laisva valia pateikė LT2; informacija, kurią LT2 gauna Lankytojui naudojantis LT2 paslaugomis (pvz., nar&scaron;yklės tipas, operacinės sistemos tipas, IP adresas ir t. t.); kiti duomenys, nurodyti &scaron;iose Privatumo politikos nuostatose.</p>

<p>15. LT2 stebi Svetainės lankomumą ir renka informaciją apie tai, kiek Lankytojų apsilankė Svetainėje, koks yra Lankytojų interneto paslaugų teikėjo serverio srities (domeno) pavadinimas ir pan. Tokia informacija yra renkama automati&scaron;kai, apsilankymo Svetainėje metu. Tai padeda LT2 suprasti, kaip Lankytojai naudojasi Svetaine bei suteikia galimybę gerinti Svetainės teikiamas paslaugas.</p>

<p>16. Lankytojas supranta ir sutinka su tuo, kad LT2 renka informaciją apie Lankytoją naudodamiesi slapukais (ang. cookies) ir (ar) tinklalapio indikatoriais (ang. web beacons). Slapukai yra maži failai, kurie laikinai įra&scaron;omi į vartotojo standųjį diską ir leidžia atpažinti vartotojo kompiuterį per kitus vizitus Svetainėje. LT2 slapukus naudoja tik informacijai, susijusiai su tinklalapio naudojimu, rinkti. Duomenys, kuriuos pateikia slapukai, yra anoniminiai ir neteikia asmeninės informacijos. Be tinklalapio indikatorių, Svetainėje taip pat gali būti naudojami ... GIF failų (ang. clear gif) ir &ldquo;action tags&rdquo; technologijos. Tinklalapio indikatorių technologija leidžia LT2 sužinoti, kuris Lankytojas nar&scaron;ydamas Svetainėje spustelėjo puslapio elementą (tokį kaip nuoroda, paveikslėlis ar pan.). Duomenys, kuriuos pateikia tinklalapio indikatoriai, yra anoniminiai ir nesusiję su asmenine informacija, taip pat nesudaro asmeninės informacijos. Lankytojas gali bet kuriuo metu i&scaron;jungti slapukus ir tinklalapio indikatorius (cookies / beacons), naudodamasis nar&scaron;yklės nustatymais, tačiau tokiu atveju kai kurios Svetainės funkcijos gali neveikti.</p>

<p style="text-align:center"><strong>Asmeninės informacijos panaudojimo tikslai</strong></p>

<p>17. Toliau yra paminėti pavyzdžiai, kokiems tikslams LT2 gali naudoti Lankytojų asmeninę informaciją, surinktą apie konkretų Lankytoją:</p>

<p>17.1. LR referendumo įstatymo 11 straipsnio 1 punkte numatytus duomenis LT2 renka tik &scaron;iame įstatyme nustatytais tikslais, t.y. siekiant įstatymuose numatyta tvarka pateikti el. para&scaron;us, surinktus už referendumų iniciatyvas, atsakingoms valstybės institucijoms (VRK).</p>

<p>17.2 asmens duomenis, unikaliai identifikuojančius LR pilietį, LT2 taip pat renka kitais LR Konstitucijoje ir įstatymuose numatytais piliečių iniciatyvų ir kitais tikslais (piliečių įstatymų leidybos iniciatyvos teisė, peticijos, savivaldybių tarybų apklausos ir kt.)</p>

<p>17.3 LT2 naudoja Lankytoją dominančių sričių (kategorijų) nustatymus bei gimtosios ir gyvenamosios vietos nustatymus atrinkdama ir pateikdama Lankytojui tik jį dominančią informaciją;</p>

<p>17.4 naudoja bendrus duomenis statistikos analizei apie bendras charakteristikas ir užsiregistravusių Lankytojų elgesį, siekdami i&scaron;siai&scaron;kinti poreikius, susijusius su tam tikromis Svetainės paslaugomis bei i&scaron;analizuoti jų efektyvumą. Be &scaron;ių duomenų LT2 negalėtų tinkamai keisti bei redaguoti Svetainės turinio ir siūlomų Paslaugų;</p>

<p>17.5. tam, kad galėtų pasiūlyti specializuotas Paslaugas bei tikslinę reklamą;</p>

<p>17.6. LT2 kaupia bendrus paie&scaron;kos žodžių sąra&scaron;us i&scaron; įvairių paie&scaron;kos programų. &Scaron;i informacija anoniminė ir yra naudojama Paslaugoms plėtoti, stebėti ir gerinti, tikslinei reklamai tobulinti ir kitais tikslais;</p>

<p>17.7. LT2 gali naudoti Lankytojo asmeninę informaciją tam, kad galėtų su Lankytoju susisiekti ir prane&scaron;ti apie pakeistas bei atnaujintas Paslaugas Svetainėje ar Taisyklių pažeidimus bei suteikti kitokią informaciją. LT2 gali panaudoti Lankytojo informaciją, jei LT2 reikia susisiekti su juo kitais su Svetainės veikla susijusiais klausimais;</p>

<p>&nbsp;</p>

<p>18. V&scaron;Į LT2.0 neteiks Lankytojo paskyros nustatymuose vie&scaron;ai nerodyti pasirinktų asmens duomenų tretiesiems asmenims ir nepavie&scaron;ins jų, i&scaron;skyrus atvejus, nurodytus &scaron;ioje Privatumo politikoje, arba Lietuvos Respublikos teisės aktų nustatytais atvejais.</p>

<p>19. Naudojantis Svetaine draudžiama pateikti klaidinančią, kitus asmenis ar subjektus kompromituojančią ar įžeidžiančią informaciją, kuri galėtų padaryti tiesioginę ar netiesioginę žalą LT2, kitiems asmenims ar subjektams. Asmenys, teikiantys klaidingą (žalingą) informaciją, prisiima visi&scaron;ką atsakomybę už galimus padarinius, atsirandančius dėl tokios informacijos pateikimo ir tiesiogiai atsako pagal Lietuvos Respublikos įstatymus.</p>

<p>20. LT2 neatsako už Svetainėje &nbsp;pateikiamos kitų fizinių / juridinių asmenų &nbsp;informacijos teisingumą, jos pagrįstumą ir už padarinius, atsirandančius dėl pasinaudojimo ar nepasinaudojimo &scaron;ia informacija.</p>

<p>21. Naudojantis Svetaine draudžiama talpinti, siųsti elektroniniu pa&scaron;tu, kitu elektroniniu būdu ar kaip kitaip perduoti ar siųsti bet kokį turinį ir (ar) nuorodas į bet kokį turinį, kurio publikavimas ir (ar) panaudojimas yra draudžiamas arba ribojamas Lietuvos Respublikos įstatymų, taip pat draudžiama naudoti jį kokiais nors komerciniais ar tiesioginės rinkodaros tikslais ir (ar) suteikti tokią galimybę trečiosioms &scaron;alims (dėl ko nebuvo gautas asmens sutikimas).</p>

<p>22. LT2&nbsp;primena, jog Lankytojas yra pats atsakingas už visų prisijungimo duomenų slaptumą. LT2 pra&scaron;o Lankytoją būti atsargų naudojant ir saugant prisijungimo duomenis. Lankytojas turėtų atsijungti nuo nar&scaron;yklės baigęs darbą tam, kad būtų tikras, jog niekas neprieis prie Lankytojo elektroninio pa&scaron;to, asmeninės informacijos, ypač tais atvejais, kai Lankytojas naudojasi vie&scaron;ai prieinamu kompiuteriu (pvz., interneto kavinėje, bibliotekoje).</p>

<p>23. LT2 įspėja, kad Lankytojas turi būti atsargus ir neturi atskleisti savo asmeninės informacijos (tokios kaip Lankytojo asmens kodas, elektroninio pa&scaron;to adresas ir pan.) tretiesiems asmenims, naudodamasis Svetainėse teikiamomis Paslaugomis. Tokia informacija gali būti įvairiopai panaudota ir nukreipta prie&scaron; Lankytojo interesus, taip pat ir tokioms veikomis kaip sukčiavimas, nepageidaujamų elektroninių lai&scaron;kų siuntimas ir pan.</p>

<p style="text-align:center"><strong>Registracijos panaikinimas</strong></p>

<p>24. Lankytojai, prisiregistravę LT2 svetainės sistemoje, gali bet kada pa&scaron;alinti savo asmens duomenis i&scaron; LT2 duomenų bazės, pateikdami pra&scaron;ymą sunaikinti paskyrą. Pra&scaron;ymą panaikinti Naudotojo paskyrą gali pateikti įgalioti asmenys &scaron;iam asmeniui mirus.</p>

<p>25. Pra&scaron;ymą dėl registracijos panaikinimo galima atsiųsti elektroninio pa&scaron;to adresu info@lietuva2.lt. Pra&scaron;yme būtina ai&scaron;kiai nurodyti savo vardą, pavardę, vartotojo vardą ir kitus registracijos duomenis (jei yra).</p>

<p style="text-align:center"><strong>Asmens duomenų saugojimo trukmė</strong></p>

<p>26. Gavus ra&scaron;ytinį naudotojo pra&scaron;ymą panaikinti jo paskyrą, paskyra yra panaikinama per 3 mėnesius nuo pra&scaron;ymo gavimo. Asmens balsavimų duomenys lieka saugomi iki balsavimo pabaigos.</p>

<p>27. Paskyra taip pat panaikinama praėjus 18 mėnesių nuo paskutinio naudotojo prisijungimo prie sistemos. Prie&scaron; tai, praėjus 12 mėn. nuo paskutinio naudotojo prisijungimo prie sistemos, jam yra i&scaron;siunčiamas lai&scaron;kas, įspėjantis, kad neprisijungus prie sistemos dar pusę metų paskyra bus panaikinta automati&scaron;kai.</p>

<p>28. LT2 turi teisę bet kada ir dėl bet kokios priežasties pa&scaron;alinti Lankytojo registraciją ir bet kokius asmens padarytus įra&scaron;us i&scaron; savo Svetainės duomenų bazės. LT2 turi teisę kreiptis į atitinkamas institucijas dėl asmens patraukimo atsakomybėn dėl jo neleidžiamais veiksmais padarytos materialinės (įskaitant negautas pajamas) ir nematerialinės žalos LT2, jos partneriams, klientams ar kitiems asmenims bei subjektams.</p>

<p style="text-align:center"><strong>Slaptažodžių valdymas</strong></p>

<p>29 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reikalavimai naudotojo slaptažodžiui:</p>

<p>29.1. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Slaptažodis turi būti ne trumpesnis nei 6 simbolių;</p>

<p>29.2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Slaptažodį turi sudaryti bent po vieną didžiąją, mažąją raidę ir skaičių;</p>

<p>29.3. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Slaptažodyje negali būti prisijungimo vardo, vardo, pavardės fragmentų.</p>

<p>&nbsp;</p>

<p>30 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Slaptažodžių keitimas</p>

<p>30.1. &nbsp;&nbsp;&nbsp;&nbsp;Naudotojui pamir&scaron;us slaptažodį, jo nurodytu el. pa&scaron;to adresu yra atsiunčiamas laikinas naujai sugeneruotas slaptažodis;</p>

<p>30.2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prisijungęs su laikinu slaptažodžiu, naudotojas privalo jį pasikeisti;</p>

<p>30.3. &nbsp;&nbsp;&nbsp;&nbsp;Atskleidęs savo slaptažodį trečioms &scaron;alims, naudotojas gali pasikeisti slaptažodį i&scaron; savo asmeninio puslapio;</p>

<p>30.4. &nbsp;&nbsp;&nbsp;&nbsp;Keičiant slaptažodį įvedami &scaron;ie duomenys: senas slaptažodis, naujas slaptažodis (du kartus).</p>

<p>30.5. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keičiamam slaptažodžiui galioja 29 punkte apra&scaron;yti reikalavimai.</p>

<p>&nbsp;</p>

<p style="text-align:center"><strong>Baigiamosios nuostatos</strong></p>

<p>&nbsp;</p>

<p>31. LT2 jokiomis aplinkybėmis neatsako už galimus padarinius, sukeltus nenugalimų jėgų (force majeure) įtakos, kurių negalėjo niekaip paveikti ar numatyti.</p>

<p><span style="line-height:1.6em">32. LT2 nėra atsakingi už Lankytojų privatumo užtikrinimą trečiųjų asmenų tinklalapiuose net ir tais atvejais, kai trečiųjų asmenų tinklalapius Lankytojai pasiekia naudodamiesi Svetainėje esančiomis nuorodomis. LT2 rekomenduoja susipažinti su kiekvieno ne LT2 priklausančio tinklalapio privatumo sąlygomis.</span></p>

<p><span style="line-height:1.6em">33. Visos čia pateiktos Privatumo politikos nuostatos gali būti LT2 viena&scaron;ali&scaron;kai keičiamos ir pildomos. Tokie pakeitimai įsigalioja po jų paskelbimo Svetainėje, o prisiregistravusiems Lankytojams apie juos dar prane&scaron;ama nurodytu el. pa&scaron;tu. Jei Lankytojas po Privatumo politikos pakeitimų paskelbimo naudojasi Svetaine ir (ar) Paslaugomis, laikoma, kad jis sutinka su visais pakeitimais. Lankytojas, nesutinkantis su pakeistu Privatumo politikos turiniu, praranda teisę naudotis Svetaine ir jos Paslaugomis, taip pat privalo nedelsdamas panaikinti savo registraciją Svetainėje. Svetainės Lankytojai įsipareigoja įsitikinti, kad yra susipažinę su naujausia Privatumo politikos nuostatų versija.</span></p>

<p><span style="line-height:1.6em">34. Norėdami apsaugoti Lankytojų duomenis, LT2 naudoja įvairias administracines, technines ir fizines saugumo priemones. Prie Lankytojo prisijungimo duomenų gali prieiti tik tai daryti įgalioti LT2 bei duomenų tvarkytojo darbuotojai, vadovaudamiesi sutarties sąlygomis.</span></p>

<p><span style="line-height:1.6em">35. &Scaron;ioms Privatumo politikos nuostatoms taikoma Lietuvos Respublikos teisė. Visi dėl &scaron;ių Privatumo politikos nuostatų kilę ginčai bus sprendžiami derybomis, o joms nepavykus &mdash; Lietuvos Respublikos teisme pagal V&scaron;Į LT2.0 buveinės vietą.</span></p>


</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#linkAgreement').linkdialog({ dialogSelector: '#dialog-agreement', width: 750, height: 500 });
        $('#linkPrivacy').linkdialog({ dialogSelector: '#dialog-privacy', width: 750, height: 500 });
    });
</script>